{
    "presets": [
      [
        "next/babel",
        {
          "styled-jsx": {
            "plugins": ["styled-jsx-plugin-sass"]
          },
          "presets": ["@babel/preset-react", "@babel/preset-env"],
          "plugins": ["emotion"]
        } 
      ]
    ]
}