@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body{
    display: block;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}