$one: '#ff6b6b';
$two: '#f9844aff';
$three: '#fee440';
$four: '#02c39a';
$five: '#4361ee';
$six: '#9b5de5';
$seven: '#f15bb5';

:export{
    one: $one;
    two: $two;
    three: $three;
    four: $four;
    five: $five;
    six: $six;
    seven: $seven;
}